@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to { 
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.flex-body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: content;
  align-items: center;
}

.stars {
  background: black url(../public/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 100%;
  height: 100%;
  background: transparent url("../public/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

img {
  height: 40vh;
  width: 40vh;
  position: absolute;
  z-index: 3;
  right: 30px;
  top: 30px;
}



/* .container {
  margin: 50px;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} */

.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    padding-top: 25%;
    padding-left: 47%;
}


.pixel, .pixel2 {
  font-size: 25px;
  color: black;
  height: auto;
  margin: 10px;
  font-family: 'VT323';
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  
  cursor: pointer;
  width: 100px !important;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel:active, .pixel2:active {
  top: 2px;
}

.pixel {
  line-height: 0;
  
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  
  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixel p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;
  
	background: lightgray;
	background:
		linear-gradient(135deg, transparent 10px, lightgray 0) top left,
		linear-gradient(225deg, transparent 10px, lightgray 0) top right,
		linear-gradient(315deg, transparent 10px, lightgray 0) bottom right,
		linear-gradient(45deg,  transparent 10px, lightgray 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-image:
		radial-gradient(circle at 0 0, rgba(211, 211, 211, 0) 14px, lightgray 15px),
		radial-gradient(circle at 100% 0, rgba(211, 211, 211, 0) 14px, lightgray 15px),
		radial-gradient(circle at 100% 100%, rgba(211, 211, 211, 0) 14px, lightgray 15px),
		radial-gradient(circle at 0 100%, rgba(211, 211, 211, 0) 14px, lightgray 15px);
}

.pixel2 {
  position: relative;
  display: block;
  margin: 10px;
  font-family: 'VT323';
  text-transform: uppercase;
  
  font-size: 25px;
  color: black;
}

.ppl{
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  left: 0;
  filter: brightness(450%);
}

.title{
  color: white;
    z-index: 10;
    position: absolute;
    top: 10%;
    font-weight: 800;
    font-size: xx-large;
    left: 35%;
}

.pixel2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: lightgray;
  z-index: -1;
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: lightgray;
  z-index: -1;
}

.pixel2 {
  padding: 10px 10px;
  position: relative;
  background: lightgray;
  width: auto;
  z-index: 13;
}